:root {
  --main-color: #20ad96;
}

i {
  cursor: pointer;
}

/* header */
header {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
}
/* logo img */
.logo img {
  width: 45%;
}

/* botton search icon of header */
.nav-right .btn i {
  color: var(--main-color);
}
/****************************************/
/* jumbotron */
#jumbotron {
  height: 80vh;
  background-image: url("../img/img/home-3-hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  color: white;
  margin-top: 74px;
}

#jumbotron h1 {
  letter-spacing: 2px;
}

#jumbotron .btn {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 13px 35px;
  color: var(--main-color);
}
